@page
@model finalProject.Pages.AboutModel
@{
    ViewData["Title"] = "Project By: ";
}

<div class="container mt-4 mb-3">
    <h2 class="text-center" style="margin-bottom: 30px; font-weight: bold;">
        @ViewData["Title"]
    </h2>

    <div class="row">
        <div class="col text-center">
            <h6>Ido Hod | ID: 31886530</h6>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <h6>
                Idan Dvorkin| ID: 316129295
            </h6>
        </div>
    </div>
</div>
